    <div class="content-wrapper text-left">
        <div class="col-lg-6 col-lg-offset-3">
            <p>Op 20 juni was het weer feest! Wat een rijkdom aan verhalen en bezoekers! Veel dank aan de TU Delft, die de ruimte hebben gefaciliteerd, schitterend! Met een geweldige plenaire zaal, techniek die ons nergens in de steek liet, en een uitstekend verzorgde catering.
</p>

                  <p>Ook dank uiteraard aan alle sprekers, die maken toch de conferentie. Aan de Geomatics studenten, die steeds pro-actief aan het ondersteunen waren. En dat afsluitende etentje in Open (de Delftse bibliotheek/muziekschool) was niet alleen qua naam heel erg okee...
</p>

            <p>Waar we de FOSS4GNL in 2020 gaan doen? Dat weet ik nog niet. Als iemand een goed idee heeft, laat het weten. Voorlopig kunnen we eerst in augustus naar Boekarest voor de internationale FOSS4G. En dit najaar wellicht nog een QGIS gebruikersmeeting? </p>

       
        </div>
    </div>
